h1 {
font-family: 'Playfair Display', serif;
font-style: italic;
text-align: center;
}

body {
font-family: 'Playfair Display', serif;
text-align: center;
}

.icon {
  font-size: 1.5em;
}

a:link{
    color: black;
}

a:visited {
    color: #595858;
}

a:hover {
    color: #FEED01;
}
